.main-containerr {
  margin: 30px;
}

.containerr {
  background-color: rgb(30, 28, 28);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  width: 50vw;
}

.form-container {
  width: 65vw;
  background-color: rgb(30, 28, 28);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box,
.form-group {
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
}

.box-2 {
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 400;
}

.inputs {
  background-color: rgb(33, 31, 31);
  color: white;
  border-color: rgb(88, 83, 83);
  border-radius: 5px;
  border-style: solid;
  height: 35px;
  width: 110%;
  margin: 5px 50px 20px 0px;
}

button {
  padding: 7px 15px;
  border-radius: 3px;
}
.buttons{
  align-self:self-end;

}

.blue {
  border-color: #0C7bae;
  background-color: #0C7bae;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

.orange {
  border-color: rgb(223, 145, 0);
  background-color: rgb(223, 145, 0);
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

.green {
  border-color: rgb(16, 180, 16);
  background-color: rgb(16, 180, 16);
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-left: 57px;
}

.simulation-button {
  align-self: flex-end;
}

@media screen and (max-width: 600px) {
  .containerr {
    background-color: rgb(30, 28, 28);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  label{
    font-size: medium;
  }

  h2{
    font-size: large;
  }

  .inputs {
    border-radius: 4px;
    height: 29px;
    width: 100%;
    margin: 5px 5px 5px 0px;
  }

  .form-container {
    width: 74vw;
    background-color: rgb(30, 28, 28);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .box,.form-group{
    padding: 10px 10px;
  }
  
  .green{
    margin-left: 10px;
  }
}
