.main-container {
    margin-left: 5vw;
  }
  
table {
    border-collapse: collapse;
  }
  
thead {
    background-color: rgb(62, 57, 57);
    color: white;
  }
  
th,
td {
    padding: 1vw;
    font-size: medium;
  }
  
td {
    padding: 1vw 2vw;
    border-bottom: 2px ridge rgb(42, 38, 38);
    font-size: medium;
  }
  
th {
    font-weight: 600;
  }
  
tbody {
    background-color: rgb(220, 220, 220);
    color: black;
  }
  
input {
    width: 90px;
    color: black;
    background-color: white;
    height: 30px;
    margin: 0px;
  }
  
  button {
    color: black;
  }
  
  .drop-down {
    margin: 17px 0px 30px 0px;
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 600px) {
    input{
      width:7vw;
    }
    th,td{
      font-size: small;
    }
    
  }
