#App {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: large;
  background-color: black;
  color: white;
}
body{
  margin: 0px;
}

.nav-bar {
  margin-top: 40px;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  flex: 1;
}

li a {
  width: 91%;
  text-decoration-line: none;
  color: black;
  display: block;
  padding: 10px;
  text-align: center;
}

nav {
  width: 15%;
  background-color: #9eadbe;
  align-self: stretch;
  height: 100vh;
}

.route {
  padding: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.active {
  color: rgb(47, 132, 229) !important;
  background-color: #bbcadc;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  #App {
    flex-direction: column;

  }

  nav {
    width: 110vw;
  }

  li a{
    width: 88%;
    font-size: medium;
  }
  
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  nav {
    background-color: #9eadbe;
    align-self: stretch;
    height: 100%;
  }
  
  .nav-bar {
    margin-top: 0px;
  }
  
}
